@model ShopThoiTrang.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Img)
    @Html.HiddenFor(model => model.Created_At)
    @Html.HiddenFor(model => model.Created_By)
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-uppercase text-danger">Thêm sản phẩm</strong>
                </div>
                <div class="col-md-6 text-end">
                    <a href="@Url.Action("Index", "Product")" class="btn btn-sm btn-success">
                        <i class="fas fa-plus"></i> Quay về danh sách
                    </a>
                    <button style="submit" class="btn btn-sm btn-success">
                        <i class="fas fa-save"></i>Lưu [Thêm]
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Từ khóa SEO</label>
                        @Html.TextAreaFor(model => model.Detail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Từ khóa SEO</label>
                        @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Mô tả SEO</label>
                        @Html.TextAreaFor(model => model.Metadesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Metadesc, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Loại sản phẩm</label>
                        @Html.DropDownListFor(model => model.CatId, (SelectList)ViewBag.ListCat, "--Chọn cấp cha-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Số lượng</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Giá</label>
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Giá khuyến mại</label>
                            @Html.EditorFor(model => model.Pricesale, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pricesale, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Hình ảnh</label>
                        <input type="file" name="fileimg" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label>trạng thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] {
                        new  SelectListItem { Text = "Chưa xuất bản", Value = "2" },
                        new  SelectListItem { Text= "Xuất bản", Value="1" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
